<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juborajsarker.passwordmanager"
    android:versionCode="1"
    android:versionName="1.0">


    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".activity.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LockscreenActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".activity.AddNewActivity"
            android:label="Add New Account"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.ViewActivity"
            android:screenOrientation="portrait"
            android:label="Details"/>

        <activity android:name=".activity.WebviewActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.CardDetailsActivity"
            android:label="Details"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.RegisterActivity"
            android:label="Register on Login"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ForgetPasswordActivity"
            android:label="Reset Password"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.AboutActivity"
            android:label="About"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

    </application>

</manifest>